CMakeFiles/
build/
data/
tests/
old/
.ipynb_checkpoints/
todo.md
temp.*
*.o
*.vdb
*.so
*.pyc
*.pptx
*.dylib
*.blend1
*.blend2
*.blend3
*.lprof
/media/ppt/
/media/results/
/media/notes/
/src/2D/src/scratch/
/src/matlab/toolbox/
/media/report/cvpr2015AuthorKit/
/media/report/build/writeup.pdf
/media/report/diff.tex
/src/preprocess/voxelisation/voxelcvml
/src/intrinsic/features/line_casting_cython.c
*.ipynb
/media/report_extra/
*.docx
*.idea
