CMakeFiles/
build/
data/
todo.md
CMakeLists.txt.user
*.o
*.vdb
/media/ppt/
/media/results/
/media/notes/
/src/2D/src/scratch/
/src/3D/src/voxelisation/vdb_convert/vdb_convert.*
/src/3D/src/voxelisation/vdb_convert/txt2vdb
/src/3D/src/voxelisation/vdb_convert/vdb2txt
/src/3D/structured_train/tests/
/src/3D/structured_train/.ipynb_checkpoints/
/src/tools/openvdb_tests/hellomake
/src/tools/openvdb_tests/create
/src/tools/openvdb_tests/yaml
/src/tools/rendering/test/depth
/src/pcl_pipeline/recogniser-build
/src/common/toolbox/
/src/tools/matvtk_tests/matVTK1.0/
temp.*
*.pyc