CMakeFiles/
build/
/media/ppt/
/media/results/
/media/notes/
/src/2D/src/scratch/
/src/3D/model_render/voxelisation/voxel
/src/rendering/test/depth
todo.md
*.o
/src/3D/src/voxelisation/vdb_convert/txt2vdb
/src/3D/src/voxelisation/vdb_convert/vdb_convert.*
/src/3D/src/voxelisation/vdb_convert/temp.txt
/src/tools/openvdb_tests/hellomake
/src/tools/openvdb_tests/create
*.vdb